.home {
  .jumbotron {
    position: relative;
    
    svg {
      position: absolute;
      width: 70%;
      margin-left: 10%;
      margin-top: 3rem;
    }
    
    aside {
      display: block;
      position: absolute;
      top: 5rem;
      right: 3rem;
      max-width: 500px;

      h1 {
        display: block;
        width: 100%;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 600;
      }
    }
  }
}