#logo {
  position:relative;
  left:-6em;
  height:60px;
  vertical-align:top;
  overflow:hidden;
}
.logo-item{
  position: relative;
  top: 2px;
  left:-7.3em;
}
.nav-item {
  position: relative;
  right: -4.5em;
}
header {
  display: flex;
  justify-content: center;
  nav {
    height: 4rem;
    width: 100%;
    max-width: $page-width;
    
    display: flex;
    align-items: stretch;

    .nav-item--stretch {
      position:relative;
      right:10px;
      height:65px;
      flex: 1;
      color: #000;
    }

    a {
      font-size: 1rem;
      color: $primary-800;

      &.nav-item--active {
        font-weight: 500;
        color: #000;
      }

      &:hover {
        color: inherit;
      }

      display: flex;
      align-items: center;
      padding: 0 1rem;
    }

    a.nav-item--primary, a.nav-item--primary.nax-item--active {
      position: absolute;
      font-weight: 700;
      color: $primary-900;
      float: left;
      align-items:initial;
      left: 2px;
      svg {
        margin-right: 8px;
      }
    }

    > * + * {
      margin-left: 1rem;
    }
  }


}
